/* _content/CookNet/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-2tlxc31yxu] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2tlxc31yxu] {
    flex: 1;
}

.sidebar[b-2tlxc31yxu] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2tlxc31yxu] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-2tlxc31yxu]  a, .top-row[b-2tlxc31yxu]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-2tlxc31yxu]  a:hover, .top-row[b-2tlxc31yxu]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-2tlxc31yxu]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


@media (max-width: 640.98px) {
    .top-row[b-2tlxc31yxu] {
        justify-content: space-between;
    }

    .top-row[b-2tlxc31yxu]  a, .top-row[b-2tlxc31yxu]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2tlxc31yxu] {
        flex-direction: row;
    }

    .sidebar[b-2tlxc31yxu] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2tlxc31yxu] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-2tlxc31yxu]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-2tlxc31yxu], article[b-2tlxc31yxu] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-2tlxc31yxu] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-2tlxc31yxu] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* _content/CookNet/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler:checked[b-8sk4w4v26d] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-8sk4w4v26d] {
    height: 3.5rem;
    background-color: rgb(107, 36, 12); /* Brown color with 40% opacity */
}

.nav-scrollable[b-8sk4w4v26d] {
    background-color: rgb(153, 77, 28);
}

.navbar-brand[b-8sk4w4v26d] {
    font-size: 2rem;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: #ffffff;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 10px;
}

    .navbar-brand:hover[b-8sk4w4v26d] {
        color: #ff0000;
    }

.bi[b-8sk4w4v26d] {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -13px;
    background-size: cover;
}

.nav-item[b-8sk4w4v26d] {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-8sk4w4v26d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-8sk4w4v26d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-8sk4w4v26d]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-8sk4w4v26d]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-8sk4w4v26d]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-8sk4w4v26d] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-8sk4w4v26d] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8sk4w4v26d] {
        display: none;
    }

    .nav-scrollable[b-8sk4w4v26d] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/CookNet/Components/Pages/CreateRecipe.razor.rz.scp.css */
.create-recipe-title[b-n8opd8dmcj] {
    font-size: 3rem;
    text-align: center;
}

.form-group[b-n8opd8dmcj] {
    margin: 15px 0 15px 0;
}

.preview-thumbnail[b-n8opd8dmcj] {
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

/* Custom CSS to position the thumbnail container and close button */
.thumbnail-container[b-n8opd8dmcj] {
    position: relative;
    display: inline-block; /* Ensure the container size fits the image */
}

/* Custom CSS to style the close button ('x') */
.close[b-n8opd8dmcj] {
    position: absolute;
    top: -10px; /* Adjust vertical position */
    right: 0.5rem; /* Adjust horizontal position */
    z-index: 1; /* Ensure it's above the image */
    padding: 0.75rem; /* Increase padding to make the 'x' bigger */
    font-size: 2rem; /* Increase font size to make the 'x' bigger */
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    color: red; /* Red color for the 'x' */
}

/* Style the wrapper */
.file-input-wrapper[b-n8opd8dmcj] {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1b6ec2;
    border-color: #1861ac;
    padding: 8px 8px;
    cursor: pointer;
    width: fit-content; /* Adjust as needed */
}

/* Style the label */
.custom-file-label[b-n8opd8dmcj] {
    color: #fff;
    cursor: pointer;
    z-index: 1; /* Ensure label is on top */
}

.inline-group[b-n8opd8dmcj] {
    display: inline-block;
    margin-right: 10px;
}

.inline-group-long[b-n8opd8dmcj] {
    display: inline-block;
    margin-right: 10px;
    width: 358px;
}

.ingredient-inline[b-n8opd8dmcj] {
    display: inline-block;
    margin-right: 10px;
}

.ingredient-inline-long[b-n8opd8dmcj] {
    display: inline-block;
    margin-right: 10px;
    width: 660px;
}

.ingredient-inline button[b-n8opd8dmcj] {
    margin-top: -4px;
}

.instr-story-btn[b-n8opd8dmcj] {
    margin-top: -5px;
}
/* _content/CookNet/Components/Pages/EditRecipe.razor.rz.scp.css */
.edit-recipe-title[b-nwn678rb5z] {
    font-size: 3rem;
    text-align: center;
}

.form-group[b-nwn678rb5z] {
    margin: 15px 0 15px 0;
}

.preview-thumbnail[b-nwn678rb5z] {
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

/* Custom CSS to position the thumbnail container and close button */
.thumbnail-container[b-nwn678rb5z] {
    position: relative;
    display: inline-block; /* Ensure the container size fits the image */
}

/* Custom CSS to style the close button ('x') */
.close[b-nwn678rb5z] {
    position: absolute;
    top: -10px; /* Adjust vertical position */
    right: 0.5rem; /* Adjust horizontal position */
    z-index: 1; /* Ensure it's above the image */
    padding: 0.75rem; /* Increase padding to make the 'x' bigger */
    font-size: 2rem; /* Increase font size to make the 'x' bigger */
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    color: red; /* Red color for the 'x' */
}

/* Style the wrapper */
.file-input-wrapper[b-nwn678rb5z] {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1b6ec2;
    border-color: #1861ac;
    padding: 8px 8px;
    cursor: pointer;
    width: fit-content;
    margin-left: 30px;
}

/* Style the label */
.custom-file-label[b-nwn678rb5z] {
    color: #fff;
    cursor: pointer;
    z-index: 1; /* Ensure label is on top */
}

.inline-group[b-nwn678rb5z] {
    display: inline-block;
    margin-right: 10px;
}

.inline-group-long[b-nwn678rb5z] {
    display: inline-block;
    margin-right: 10px;
    width: 358px;
}

.ingredient-inline[b-nwn678rb5z] {
    display: inline-block;
    margin-right: 10px;
}

.ingredient-inline-long[b-nwn678rb5z] {
    display: inline-block;
    margin-right: 10px;
    width: 660px;
}

.ingredient-inline button[b-nwn678rb5z] {
    margin-top: -4px;
}

.ingredient-edit[b-nwn678rb5z], .instruction-edit[b-nwn678rb5z] {
    line-height: 50px;
}

.ingredient-edit button[b-nwn678rb5z], .instruction-edit button[b-nwn678rb5z] {
    margin-right: 10px;
    margin-left: 5px;
}

.instr-story-btn[b-nwn678rb5z] {
    margin-top: -5px;
}

.form-group-label[b-nwn678rb5z] {
    font-size: 1rem;
    font-weight: 600;
}

/* Modal backdrop */
.modal-backdrop[b-nwn678rb5z] {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Modal content */
.modal-content[b-nwn678rb5z] {
    background-color: #fff; /* White background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Modal header */
.modal-header[b-nwn678rb5z] {
    background-color: #f8d7da; /* Red background */
    color: #721c24; /* Red text color */
    border-bottom: 1px solid #f5c6cb; /* Red border bottom */
    border-radius: 5px 5px 0 0; /* Rounded corners, except bottom */
}

/* Modal body */
.modal-body[b-nwn678rb5z] {
    padding: 20px; /* Padding around content */
}

/* Modal footer */
.modal-footer[b-nwn678rb5z] {
    background-color: #f8d7da; /* Red background */
    border-top: 1px solid #f5c6cb; /* Red border top */
    border-radius: 0 0 5px 5px; /* Rounded corners, only bottom */
}

/* Close button */
.modal-header .close[b-nwn678rb5z] {
    color: #721c24; /* Red close button color */
    font-size: 20px; /* Larger close button */
}
/* _content/CookNet/Components/Pages/RecipeDetails.razor.rz.scp.css */
.recipe-title[b-j9rgftzswo] {
    font-size: 3rem;
    text-align: center;
}

.edit-button[b-j9rgftzswo] {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.recipe-author[b-j9rgftzswo] {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
}

.recipe-thumbnail[b-j9rgftzswo] {
    width: 400px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: auto !important;
    display: block !important;
}

.recipe-description[b-j9rgftzswo] {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}

.recipe-story[b-j9rgftzswo] {
    font-size: 1rem;
}

.center-container[b-j9rgftzswo] {
    display: flex;
    justify-content: center;
}

.recipe-preptime[b-j9rgftzswo], 
.recipe-cooktime[b-j9rgftzswo], 
.recipe-category[b-j9rgftzswo], 
.recipe-ethnicity[b-j9rgftzswo] {
    margin: 0 10px 20px 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.recipe-story-title[b-j9rgftzswo], .recipe-ingredients-title[b-j9rgftzswo], .recipe-instructions-title[b-j9rgftzswo] {
    font-size: 1.8rem;
}

.recipe-ingredients[b-j9rgftzswo], .recipe-instructions[b-j9rgftzswo] {
    font-size: 1rem;
    line-height: 35px;
}

.ingredients-list[b-j9rgftzswo] {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 15px; /* Remove default padding */
}

.recipe-ingredients[b-j9rgftzswo]::before {
    content: "\25C6"; /* Unicode character for diamond */
    color: rgb(107, 36, 12);
    display: inline-block;
    width: 1em; /* Adjust size as needed */
    margin-left: -1em; /* Adjust indentation */
}
/* _content/CookNet/Components/Pages/UserProfile.razor.rz.scp.css */
.edit-icon[b-be9y8cypfz] {
    margin-right: 5px;
    margin-bottom: 5px;
}
.userinfo-container[b-be9y8cypfz] {
    margin-top: -25px;
}
.join-date[b-be9y8cypfz] {
    margin-top: -15px;
}
