@import 'CookNet.Client.bundle.scp.css';

/* _content/CookNet/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-2tlxc31yxu] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2tlxc31yxu] {
    flex: 1;
}

.top-row[b-2tlxc31yxu] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .top-row[b-2tlxc31yxu]  a, .top-row[b-2tlxc31yxu]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-2tlxc31yxu]  a:hover, .top-row[b-2tlxc31yxu]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-2tlxc31yxu]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


@media (max-width: 640.98px) {
    .top-row-navbar[b-2tlxc31yxu] {
        width: 100vw; /* Make it take full screen width */
        left: 0;
        top: 0;
    }

    .top-row[b-2tlxc31yxu] {
        justify-content: space-between;
    }

    .top-row[b-2tlxc31yxu]  a, .top-row[b-2tlxc31yxu]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2tlxc31yxu] {
        flex-direction: row;
    }

    .sidebar[b-2tlxc31yxu] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2tlxc31yxu] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-2tlxc31yxu]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-2tlxc31yxu], article[b-2tlxc31yxu] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navmenu-visible[b-2tlxc31yxu] {
        width: 250px !important;
        transition: width 0.3s ease;
    }

    .navmenu-hidden[b-2tlxc31yxu] {
        width: 0px !important;
        transition: width 0.3s ease;
    }

    .navitems-visible[b-2tlxc31yxu] {
        white-space: nowrap;
        transform: translateX(0); /* Bring it fully into view */
        opacity: 1; /* Make it fully visible */
        font-size: 32px;
        transition: transform 0.3s ease, opacity 1s ease, font-size 0.5s ease;
    }

    .navitems-hidden[b-2tlxc31yxu] {
        white-space: nowrap;
        transform: translateX(-150px); /* Move it off the screen to the left */
        opacity: 0; /* Make it invisible */
        font-size: 0px !important;
        transition: transform 0.3s ease, opacity 0.3s ease, font-size 0.1s ease;
    }
}

#blazor-error-ui[b-2tlxc31yxu] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-2tlxc31yxu] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.main-page[b-2tlxc31yxu] {
    margin: 0 !important;
    padding: 0 !important;
}

.top-row-navbar[b-2tlxc31yxu] {
    height: 3.5rem;
    background-color: rgb(28, 10, 0);
    display: flex;
    align-items: center;
    z-index: 1;
}

.navbar-brand[b-2tlxc31yxu] {
    font-size: 2rem;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: #ffffff;
    text-decoration: none;
    margin-top: -10px;
}

    .navbar-brand:hover[b-2tlxc31yxu] {
        color: #ff0000;
    }

.container-fluid[b-2tlxc31yxu] {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggler[b-2tlxc31yxu] {
    background: none;
    border: none;
    color: rgb(28, 10, 0) !important;
    font-size: 1.5rem;
    padding: 0;
    margin-right: auto;
    padding: 5px;
}

    .navbar-toggler:hover[b-2tlxc31yxu] {
        background-color: rgba(111, 78, 55, 0.8);
    }

    .navbar-toggler:focus[b-2tlxc31yxu] {
        outline: none;
        box-shadow: none;
    }
/* _content/CookNet/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler:checked[b-8sk4w4v26d] {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-scrollable[b-8sk4w4v26d] {
    background-color: rgb(111, 78, 55);
}

.bi[b-8sk4w4v26d] {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -13px;
    background-size: cover;
}

.nav-item[b-8sk4w4v26d] {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-8sk4w4v26d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-8sk4w4v26d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-8sk4w4v26d]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-8sk4w4v26d]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-8sk4w4v26d]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-8sk4w4v26d] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-8sk4w4v26d] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8sk4w4v26d] {
        display: none;
    }

    .nav-scrollable[b-8sk4w4v26d] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }

    .navitems-visible[b-8sk4w4v26d] {
        white-space: nowrap;
        transform: translateX(0); /* Bring it fully into view */
        opacity: 1; /* Make it fully visible */
        font-size: 14.4px;
        transition: transform 0.3s ease, opacity 1s ease, font-size 0.5s ease;
    }

    .navitems-hidden[b-8sk4w4v26d] {
        white-space: nowrap;
        transform: translateX(-150px); /* Move it off the screen to the left */
        opacity: 0; /* Make it invisible */
        font-size: 0px !important;
        transition: transform 0.3s ease, opacity 0.3s ease, font-size 0.1s ease;
    }
}

@media (max-width: 640.98px) {
    .navmenu-open[b-8sk4w4v26d] {
        display: block;
        transition: display 1s ease;
    }

    .navmenu-closed[b-8sk4w4v26d] {
        display: none;
        transition: display 1s ease;
    }
}
/* _content/CookNet/Components/Layout/ProfilePictureIcon.razor.rz.scp.css */
.profpic-icon[b-ogpfqys2na] {
    font-size: 2rem;
    margin-top: 10px;
    color: black;
    transition: color 0.3s ease-in-out;
}

.profpic-icon:hover[b-ogpfqys2na] {
    color: gray;
}
/* _content/CookNet/Components/Pages/AddCookbookDialog.razor.rz.scp.css */
.Private[b-l4ll7e598k] {
    font-weight: 800;
    color: red !important;
}

.Public[b-l4ll7e598k] {
    font-weight: 800;
    color: forestgreen !important;
}

.cookbook-card-container[b-l4ll7e598k] {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between cards */
    padding: 0;
}

.cookbook-card[b-l4ll7e598k] {
    flex: 0 0 calc(50% - 10px); /* Two cards per row with gap consideration */
    max-width: calc(50% - 10px); /* Ensures cards stay same size */
    background-color: rgb(175, 130, 96);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

    .cookbook-card:hover[b-l4ll7e598k] {
        opacity: 0.75;
    }

    .cookbook-card.selected[b-l4ll7e598k] {
        border: 5px solid rgba(89,74,226,1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

.cookbook-img[b-l4ll7e598k] {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 150%; /* Aspect ratio for 600x900 */
    overflow: hidden;
}

.cookbookcard-img-top[b-l4ll7e598k] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cookbookcard-body[b-l4ll7e598k] {
    padding: 5px;
}

.cookbookcard-title[b-l4ll7e598k] {
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    overflow: hidden; /* Hide the overflowed text */
    text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
}

.cookbookdate-created[b-l4ll7e598k] {
    font-size: 0.875rem;
    color: white;
    margin-bottom: 5px;
}

.cookbook-ispublic[b-l4ll7e598k] {
    font-size: 0.875rem;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .cookbook-card[b-l4ll7e598k] {
        flex: 1 1 100%; /* Full width for smaller screens */
        max-width: 100%;
    }
}

.hideModal[b-l4ll7e598k] {
    display: none;
}

.showModal[b-l4ll7e598k] {
    display: block;
}

.title-container[b-l4ll7e598k] {
    display: flex;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
}

.dialog-centered[b-l4ll7e598k] {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    margin-right: -50px;
}
/* _content/CookNet/Components/Pages/AllRecipes.razor.rz.scp.css */
.allrecipes-container[b-incnqhfhkm] {
    color: black; 
    padding: 25px;
}

.all-recipes-title[b-incnqhfhkm] {
    font-size: 3rem;
    text-align: center;
}
/* _content/CookNet/Components/Pages/CookbookRecipes.razor.rz.scp.css */
.cookbook-recipes-container[b-fbahpg667f] {
    color: black;
    padding: 25px;
}

.cookbook-recipes-header[b-fbahpg667f] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.cookbook-name[b-fbahpg667f] {
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

.edit-cookbook-btn[b-fbahpg667f] {
    margin-top: 10px;
}

.edit-cookbook[b-fbahpg667f] {
    margin: 0;
    margin-left: 10px;
}

.divider-line[b-fbahpg667f] {
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    width: 100%;
}

.cookbook-recipes[b-fbahpg667f] {
    padding-top: 20px;
}
/* _content/CookNet/Components/Pages/CreateCookbookDialog.razor.rz.scp.css */
.ispublic-container[b-q7w4dkw477] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ispublic-msg[b-q7w4dkw477] {
    margin-top: 20px;
    margin-right: 20px;
}
/* _content/CookNet/Components/Pages/CreateRecipe.razor.rz.scp.css */
.create-recipe-container[b-n8opd8dmcj] {
    color: black;
    padding: 25px;
}

.create-recipe-title[b-n8opd8dmcj] {
    font-size: 3rem;
    text-align: center;
}

.form-group[b-n8opd8dmcj] {
    margin: 15px 0 15px 0;
}

.form-group-label[b-n8opd8dmcj] {
    font-size: 1rem;
    font-weight: 600;
}

.servingsTxt[b-n8opd8dmcj], .categoryTxt[b-n8opd8dmcj], .ethnicityTxt[b-n8opd8dmcj] {
    margin-top: 6px;
}

.preview-thumbnail[b-n8opd8dmcj] {
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.file-upload-hint[b-n8opd8dmcj] {
    font-style: italic;
    padding-left: 5px;
}

.preptimeTxt[b-n8opd8dmcj], .cooktimeTxt[b-n8opd8dmcj] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-ingredient-btn[b-n8opd8dmcj], .add-instruction-btn[b-n8opd8dmcj] {
    margin-top: 38px;
}

.remove-ingredient[b-n8opd8dmcj] {
    font-size: 1.5rem;
    padding-right: 10px;
    cursor: pointer;
    color: red;
}

.ingredient-span[b-n8opd8dmcj] {
    font-size: 16px;
}
/* _content/CookNet/Components/Pages/EditCookbookDialog.razor.rz.scp.css */
.ispublic-container[b-v6gdmryzka] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ispublic-msg[b-v6gdmryzka] {
    margin-top: 20px;
    margin-right: 20px;
}
/* _content/CookNet/Components/Pages/EditRecipe.razor.rz.scp.css */
.edit-recipe-container[b-nwn678rb5z] {
    color: black;
    padding: 25px;
}

.edit-recipe-title[b-nwn678rb5z] {
    font-size: 3rem;
}

.form-group[b-nwn678rb5z] {
    margin: 15px 0 15px 0;
}

.edit-section[b-nwn678rb5z] {
    display: flex;
    gap: 20px; /* Space between ingredients and instructions sections */
    margin-bottom: 20px; /* Space below the sections */
}

    .edit-section h4[b-nwn678rb5z] {
        width: 100%;
    }

.ingredients[b-nwn678rb5z], .instructions[b-nwn678rb5z] {
    flex: 1; /* Equal width for both sections */
}

.ingredient-edit[b-nwn678rb5z], .instruction-edit[b-nwn678rb5z] {
    margin-bottom: 10px; /* Space between items */
}

.remove-ingredient[b-nwn678rb5z], .edit-ingredient[b-nwn678rb5z] {
    cursor: pointer;
    margin-right: 10px; /* Space between icons and text */
}

.ingredient-edit button[b-nwn678rb5z], .instruction-edit button[b-nwn678rb5z] {
    margin-right: 10px;
    margin-left: 5px;
}

.instr-story-btn[b-nwn678rb5z] {
    margin-top: -5px;
}

.form-group-label[b-nwn678rb5z] {
    font-size: 1rem;
    font-weight: 600;
}

/* Modal backdrop */
.modal-backdrop[b-nwn678rb5z] {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Modal content */
.modal-content[b-nwn678rb5z] {
    background-color: #fff; /* White background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Modal header */
.modal-header[b-nwn678rb5z] {
    background-color: #f8d7da; /* Red background */
    color: #721c24; /* Red text color */
    border-bottom: 1px solid #f5c6cb; /* Red border bottom */
    border-radius: 5px 5px 0 0; /* Rounded corners, except bottom */
}

/* Modal body */
.modal-body[b-nwn678rb5z] {
    padding: 20px; /* Padding around content */
}

/* Modal footer */
.modal-footer[b-nwn678rb5z] {
    background-color: #f8d7da; /* Red background */
    border-top: 1px solid #f5c6cb; /* Red border top */
    border-radius: 0 0 5px 5px; /* Rounded corners, only bottom */
}

/* Close button */
.modal-header .close[b-nwn678rb5z] {
    color: #721c24; /* Red close button color */
    font-size: 20px; /* Larger close button */
}

.remove-ingredient[b-nwn678rb5z], .edit-ingredient[b-nwn678rb5z] {
    font-size: 1.5rem;
    padding-right: 10px;
    cursor: pointer;
}

.remove-ingredient[b-nwn678rb5z] {
    color: red;
}

.add-ingredient-btn[b-nwn678rb5z], .add-instruction-btn[b-nwn678rb5z] {
    margin-top: 24px;
}

.save-cancel-btns[b-nwn678rb5z] {
    margin-top: 22px;
}

.goback[b-nwn678rb5z] {
    cursor: pointer;
}

.goback:hover[b-nwn678rb5z] {
    opacity: 75%;
}
/* _content/CookNet/Components/Pages/Home.razor.rz.scp.css */
.divider-row[b-bv7obqaypn] {
    background-color: rgb(28, 10, 0);
    width: 100%;
    height: 50px;
}

.maincontent-container[b-bv7obqaypn] {
    color: black;
    padding-top: 10px;
}

.main-text[b-bv7obqaypn] {
    font-size: 7rem;
}

@media (max-width: 764px) {
    .main-text[b-bv7obqaypn] {
        font-size: 2.5rem;
    }

    .main-desc[b-bv7obqaypn] {
        font-size: 16px !important;
    }

    .main-img[b-bv7obqaypn] {
        display: none;
    }

    .main-img-mobile[b-bv7obqaypn] {
        display: inline;
    }
}

@media (min-width: 764px) {
    .main-img[b-bv7obqaypn] {
        display: inline;
    }

    .main-img-mobile[b-bv7obqaypn] {
        display: none;
    }
}
/* _content/CookNet/Components/Pages/IngredientInsights.razor.rz.scp.css */
.ingredientinsights-container[b-60vrozr92x] {
    color: black;
    padding: 25px;
}

.ingredientinsights-title[b-60vrozr92x] {
    font-size: 3rem;
    text-align: center;
}
/* _content/CookNet/Components/Pages/RecipeCards.razor.rz.scp.css */
.card-columns[b-pxf527or8f] {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}

.card[b-pxf527or8f] {
    width: 350px;
    background-color: rgb(175, 130, 96);
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-img-top[b-pxf527or8f] {
    height: 200px;
    object-fit: cover;
}

.card-body[b-pxf527or8f] {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-title[b-pxf527or8f] {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-meta[b-pxf527or8f] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: white;
}

.date-created[b-pxf527or8f] {
    margin: 0;
    border: 2px solid rgb(111, 78, 55);
    background-color: rgb(111, 78, 55);
    border-radius: 8px;
    box-shadow: 3px 3px 10px black;
}

.username-nav[b-pxf527or8f] {
    color: rgb(28, 10, 0);
    text-decoration: none;
}

    .username-nav:hover[b-pxf527or8f] {
        opacity: 75%;
    }

.cook-time[b-pxf527or8f] {
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    border-radius: 3px;
}

.bookmark-recipe[b-pxf527or8f] {
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    padding: 3px;
}
/* _content/CookNet/Components/Pages/RecipeDetails.razor.rz.scp.css */
.recipedetails-container[b-j9rgftzswo] {
    color: black;
}

.recipe-details[b-j9rgftzswo] {
    padding: 25px;
}

.recipe-title[b-j9rgftzswo] {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.edit-button[b-j9rgftzswo] {
    margin: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cookbooks-icon[b-j9rgftzswo] {
    font-size: 2.5rem !important;
    margin-bottom: -6px;
}

.recipe-author[b-j9rgftzswo] {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

    .recipe-author a[b-j9rgftzswo] {
        color: rgb(111, 78, 55);
    }

.recipe-thumbnail[b-j9rgftzswo] {
    width: 400px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: auto !important;
    display: block !important;
}

.recipe-description[b-j9rgftzswo] {
    font-size: 1.2rem;
    text-align: center;
}

.recipe-story[b-j9rgftzswo] {
    font-size: 1.5rem;
    line-height: 1.6;
}

.recipe-details-body[b-j9rgftzswo] {
    text-align: center;
}

.recipe-preptime[b-j9rgftzswo], 
.recipe-cooktime[b-j9rgftzswo], 
.recipe-category[b-j9rgftzswo], 
.recipe-ethnicity[b-j9rgftzswo] {
    margin: 0 10px 20px 0;
    font-size: 1rem;
    font-weight: 500;
}

.recipe-story-title[b-j9rgftzswo], .recipe-ingredients-title[b-j9rgftzswo], .recipe-instructions-title[b-j9rgftzswo] {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.recipe-ingredients[b-j9rgftzswo], .recipe-instructions[b-j9rgftzswo] {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.ingredients-list[b-j9rgftzswo] {
    list-style-type: none;
}


.divider-line[b-j9rgftzswo] {
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    width: 100%;
}

.card[b-j9rgftzswo] {
    background-color: #f2f2f2;
}

.card-title[b-j9rgftzswo] {
    font-size: 2rem;
    margin-left: 20px;
}

.ingredients-col[b-j9rgftzswo] {
    padding: 0;
    text-align: initial;
    margin-left: 25px;
    margin-right: -25px;
}

.serving-null[b-j9rgftzswo] {
    margin-left: 0 !important;
}

.comment-item[b-j9rgftzswo] {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.comment-header[b-j9rgftzswo] {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically */
}

.comment-actions[b-j9rgftzswo] {
    display: flex;
    gap: 10px; /* Adds space between the icons */
    font-size: 1.2rem; /* Adjusts the icon size if needed */
    color: #333; /* Adjusts the icon color if needed */
}

.comment-body[b-j9rgftzswo] {
    margin-top: 10px;
}

.reply-item[b-j9rgftzswo] {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.reply-header[b-j9rgftzswo] {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically */
}

.reply-body[b-j9rgftzswo] {
    margin-top: 10px;
}

.username-comment[b-j9rgftzswo] {
    color: rgb(111, 78, 55);
    margin-right: 5px;
}

.username-comment:hover[b-j9rgftzswo] {
    opacity: 75%;
}

.fa-reply[b-j9rgftzswo] {
    color: cornflowerblue;
    cursor: pointer;
    margin-right: 5px;
}

.fa-trash-can[b-j9rgftzswo] {
    color: red;
    cursor: pointer;
}

.fa-pen[b-j9rgftzswo] {
    color: gray;
    cursor: pointer;
}
/* _content/CookNet/Components/Pages/UserCookbooks.razor.rz.scp.css */
.usercookbooks-container[b-zdxd9okrfd] {
    color: black;
    padding: 25px;
}

.usercookbooks-header[b-zdxd9okrfd] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.yourcookbooks-title[b-zdxd9okrfd] {
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

.top-buttons[b-zdxd9okrfd] {
    margin-top: 10px;
}

.add-cookbook[b-zdxd9okrfd] {
    margin: 0;
    margin-left: 10px;
}

.cookbooks-amount[b-zdxd9okrfd] {
    margin-top: 10px;
}

.cookbooks-count[b-zdxd9okrfd] {
    font-weight: 500;
    font-size: 1rem;
}

.ispublic-container[b-zdxd9okrfd] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ispublic-msg[b-zdxd9okrfd] {
    margin-top: 20px;
    margin-right: 10px;
}

.Private[b-zdxd9okrfd] {
    color: red !important;
}

.Public[b-zdxd9okrfd] {
    font-weight: 800;
    color: forestgreen !important;
}

.displaycookbooks-container[b-zdxd9okrfd] {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Reduced gap between cards */
    justify-content: center; /* Center the cards horizontally */
}

.cookbook-card-container[b-zdxd9okrfd] {
    flex: 1 1 calc(20% - 10px); /* Five cards per row with adjusted gap */
    display: flex;
    justify-content: center; /* Center the card within the container */
}

.cookbook-card[b-zdxd9okrfd] {
    background-color: rgb(175, 130, 96);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px; /* Adjusted maximum width for smaller cards */
    box-sizing: border-box;
    position: relative;
}

    .cookbook-card:hover[b-zdxd9okrfd] {
        transform: scale(1.05); /* Slightly enlarge on hover */
    }

.cookbook-img[b-zdxd9okrfd] {
    width: 100%;
    height: 0;
    padding-top: 150%; /* Aspect ratio for 600x900 */
    position: relative;
    overflow: hidden;
}

.cookbookcard-img-top[b-zdxd9okrfd] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cookbookcard-body[b-zdxd9okrfd] {
    padding: 8px; /* Reduced padding for smaller cards */
    text-align: center;
}

.cookbookcard-title[b-zdxd9okrfd] {
    color: white;
    font-size: 1.1rem; /* Slightly smaller font size for titles */
    margin: 0 0 4px 0;
}

.cookbookdate-created[b-zdxd9okrfd],
.cookbook-ispublic[b-zdxd9okrfd] {
    font-size: 0.8rem; /* Slightly smaller font size for text */
    color: white;
    margin: 4px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .cookbook-card-container[b-zdxd9okrfd] {
        flex: 1 1 calc(40% - 10px); /* Adjust for two cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .cookbook-card-container[b-zdxd9okrfd] {
        flex: 1 1 100%; /* One card per row for very small screens */
    }
}

.cookbook-options[b-zdxd9okrfd] {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    display: flex;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
}

    .cookbook-options i[b-zdxd9okrfd] {
        color: white;
        cursor: pointer;
        font-size: 1.2rem;
    }

    .cookbook-options i:nth-child(1)[b-zdxd9okrfd] {
        margin-right: 5px;
    }

        .cookbook-options .fa-pen:hover[b-zdxd9okrfd] {
            color: dodgerblue;
        }

        .cookbook-options .fa-trash-can:hover[b-zdxd9okrfd] {
            color: red;
        }
/* _content/CookNet/Components/Pages/UserProfile.razor.rz.scp.css */
.user-profile-container[b-be9y8cypfz] {
    padding: 25px;
    color: black;
}

.profile-picture[b-be9y8cypfz] {
    z-index: 999;
}

.edit-icon[b-be9y8cypfz] {
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-pen[b-be9y8cypfz] {
    color: white;
}

.edit-icon-noprof[b-be9y8cypfz] {
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: white;
    opacity: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-pen-noprof[b-be9y8cypfz] {
    color: black;
}

.noprof-container[b-be9y8cypfz] {
    margin-top: -25px;
    margin-bottom: -25px;
}

.displayname[b-be9y8cypfz] {
    margin-bottom: 0;
}

.edit-profile-btn[b-be9y8cypfz] {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.edit-profile-btn p[b-be9y8cypfz] {
    margin: 0;
}

.join-date[b-be9y8cypfz] {
    margin-top: -15px;
}

.nav-header[b-be9y8cypfz] {
    background-color: rgb(54, 21, 0);
}
    .nav-header:hover[b-be9y8cypfz] {
        background-color: rgb(111, 78, 55);
    }
    .nav-header.active[b-be9y8cypfz] {
        background-color: rgb(111, 78, 55);
    }

.nav-link[b-be9y8cypfz] {
    color: white;
    cursor: pointer;
}

.useritems-container[b-be9y8cypfz] {
    padding: 20px 0 20px 0;
}

.Private[b-be9y8cypfz] {
    color: red !important;
}

.Public[b-be9y8cypfz] {
    font-weight: 800;
    color: forestgreen !important;
}

.displaycookbooks-container[b-be9y8cypfz] {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Reduced gap between cards */
    justify-content: center; /* Center the cards horizontally */
}

.cookbook-card-container[b-be9y8cypfz] {
    flex: 1 1 calc(20% - 10px); /* Five cards per row with adjusted gap */
    display: flex;
    justify-content: center; /* Center the card within the container */
}

.cookbook-card[b-be9y8cypfz] {
    background-color: rgb(175, 130, 96);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px; /* Adjusted maximum width for smaller cards */
    box-sizing: border-box;
}

    .cookbook-card:hover[b-be9y8cypfz] {
        transform: scale(1.05); /* Slightly enlarge on hover */
    }

.cookbook-img[b-be9y8cypfz] {
    width: 100%;
    height: 0;
    padding-top: 150%; /* Aspect ratio for 600x900 */
    position: relative;
    overflow: hidden;
}

.cookbookcard-img-top[b-be9y8cypfz] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cookbookcard-body[b-be9y8cypfz] {
    padding: 8px; /* Reduced padding for smaller cards */
    text-align: center;
}

.cookbookcard-title[b-be9y8cypfz] {
    color: white;
    font-size: 1.1rem; /* Slightly smaller font size for titles */
    margin: 0 0 4px 0;
}

.cookbookdate-created[b-be9y8cypfz],
.cookbook-ispublic[b-be9y8cypfz] {
    font-size: 0.8rem; /* Slightly smaller font size for text */
    color: white;
    margin: 4px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .cookbook-card-container[b-be9y8cypfz] {
        flex: 1 1 calc(40% - 10px); /* Adjust for two cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .cookbook-card-container[b-be9y8cypfz] {
        flex: 1 1 100%; /* One card per row for very small screens */
    }
}
