.navbar-toggler:checked[b-8sk4w4v26d] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-8sk4w4v26d] {
    height: 3.5rem;
    background-color: rgb(136, 74, 57); /* Brown color with 40% opacity */
}

.nav-scrollable[b-8sk4w4v26d] {
    background-color: rgb(195, 129, 84);
}

.navbar-brand[b-8sk4w4v26d] {
    font-size: 2rem;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: #ffffff;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 10px;
}

    .navbar-brand:hover[b-8sk4w4v26d] {
        color: #ff0000;
    }

.bi[b-8sk4w4v26d] {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -13px;
    background-size: cover;
}

.nav-item[b-8sk4w4v26d] {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-8sk4w4v26d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-8sk4w4v26d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-8sk4w4v26d]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-8sk4w4v26d]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-8sk4w4v26d]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-8sk4w4v26d] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-8sk4w4v26d] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8sk4w4v26d] {
        display: none;
    }

    .nav-scrollable[b-8sk4w4v26d] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
