@page "/recipes"

<div class="allrecipes-container">
    <h3 class="text-center">All Recipes</h3>

</div>

@code {
    // TODO - Display recipes with options to search, or filter by ingredient, CookTime, ethnicity, or category
}
