.edit-recipe-container {
    color: black;
    padding: 25px;
}

.edit-recipe-title {
    font-size: 3rem;
}

.form-group {
    margin: 15px 0 15px 0;
}

.edit-section {
    display: flex;
    gap: 20px; /* Space between ingredients and instructions sections */
    margin-bottom: 20px; /* Space below the sections */
}

    .edit-section h4 {
        width: 100%;
    }

.ingredients, .instructions {
    flex: 1; /* Equal width for both sections */
}

.ingredient-edit, .instruction-edit {
    margin-bottom: 10px; /* Space between items */
}

.remove-ingredient, .edit-ingredient {
    cursor: pointer;
    margin-right: 10px; /* Space between icons and text */
}

.ingredient-edit button, .instruction-edit button {
    margin-right: 10px;
    margin-left: 5px;
}

.instr-story-btn {
    margin-top: -5px;
}

.form-group-label {
    font-size: 1rem;
    font-weight: 600;
}

/* Modal backdrop */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Modal content */
.modal-content {
    background-color: #fff; /* White background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Modal header */
.modal-header {
    background-color: #f8d7da; /* Red background */
    color: #721c24; /* Red text color */
    border-bottom: 1px solid #f5c6cb; /* Red border bottom */
    border-radius: 5px 5px 0 0; /* Rounded corners, except bottom */
}

/* Modal body */
.modal-body {
    padding: 20px; /* Padding around content */
}

/* Modal footer */
.modal-footer {
    background-color: #f8d7da; /* Red background */
    border-top: 1px solid #f5c6cb; /* Red border top */
    border-radius: 0 0 5px 5px; /* Rounded corners, only bottom */
}

/* Close button */
.modal-header .close {
    color: #721c24; /* Red close button color */
    font-size: 20px; /* Larger close button */
}

.remove-ingredient, .edit-ingredient {
    font-size: 1.5rem;
    padding-right: 10px;
    cursor: pointer;
}

.remove-ingredient {
    color: red;
}

.add-ingredient-btn, .add-instruction-btn {
    margin-top: 18px;
}

.save-cancel-btns {
    margin-top: 15px;
}

.goback {
    cursor: pointer;
}

.goback:hover {
    opacity: 75%;
}

.thumbnailimg-help {
    margin-bottom: 5px;
}