.edit-recipe-container {
    color: black;
    padding: 25px;
}

.edit-recipe-title {
    font-size: 3rem;
    text-align: center;
}

.form-group {
    margin: 15px 0 15px 0;
}

.preview-thumbnail {
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

/* Custom CSS to position the thumbnail container and close button */
.thumbnail-container {
    position: relative;
    display: inline-block; /* Ensure the container size fits the image */
}

/* Custom CSS to style the close button ('x') */
.close {
    position: absolute;
    top: -10px; /* Adjust vertical position */
    right: 0.5rem; /* Adjust horizontal position */
    z-index: 1; /* Ensure it's above the image */
    padding: 0.75rem; /* Increase padding to make the 'x' bigger */
    font-size: 2rem; /* Increase font size to make the 'x' bigger */
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    color: red; /* Red color for the 'x' */
}

/* Style the wrapper */
.file-input-wrapper {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1b6ec2;
    border-color: #1861ac;
    padding: 8px 8px;
    cursor: pointer;
    width: fit-content;
    margin-left: 30px;
}

/* Style the label */
.custom-file-label {
    color: #fff;
    cursor: pointer;
    z-index: 1; /* Ensure label is on top */
}

.remove-thumbnail {

}

.inline-group {
    display: inline-block;
    margin-right: 10px;
}

.inline-group-long {
    display: inline-block;
    margin-right: 10px;
    width: 358px;
}

.ingredient-inline {
    display: inline-block;
    margin-right: 10px;
}

.ingredient-inline-long {
    display: inline-block;
    margin-right: 10px;
    width: 660px;
}

.ingredient-inline button {
    margin-top: -4px;
}

.ingredient-edit, .instruction-edit {
    line-height: 50px;
}

.ingredient-edit button, .instruction-edit button {
    margin-right: 10px;
    margin-left: 5px;
}

.instr-story-btn {
    margin-top: -5px;
}

.form-group-label {
    font-size: 1rem;
    font-weight: 600;
}

/* Modal backdrop */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Modal content */
.modal-content {
    background-color: #fff; /* White background */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Modal header */
.modal-header {
    background-color: #f8d7da; /* Red background */
    color: #721c24; /* Red text color */
    border-bottom: 1px solid #f5c6cb; /* Red border bottom */
    border-radius: 5px 5px 0 0; /* Rounded corners, except bottom */
}

/* Modal body */
.modal-body {
    padding: 20px; /* Padding around content */
}

/* Modal footer */
.modal-footer {
    background-color: #f8d7da; /* Red background */
    border-top: 1px solid #f5c6cb; /* Red border top */
    border-radius: 0 0 5px 5px; /* Rounded corners, only bottom */
}

/* Close button */
.modal-header .close {
    color: #721c24; /* Red close button color */
    font-size: 20px; /* Larger close button */
}

.remove-ingredient, .edit-ingredient {
    font-size: 1.5rem;
    padding-right: 10px;
    cursor: pointer;
}

.remove-ingredient {
    color: red;
}

.edit-ingredient {

}