@page "/"

<PageTitle>Home</PageTitle>

<h1>CookNet</h1>

CookNet - Home of recipes and more!

@code {
    // TODO - DISPLAY TOP 10 RECIPES, TOP RATED RECIPES, OR SPECIAL CATEGORIES
    // SUCH AS DISPLAYING TOP POSTERS OR INTERESTING INGREDIENT INSIGHT POSTS
}