@page "/ingredient-insights"

<PageTitle>Ingredient Insights</PageTitle>

<div class="ingredientinsights-container">
    <h3 class="ingredientinsights-title">Ingredient Insights</h3>

    <hr />
</div>

@code {
    // TODO - DISPLAY ALL POSTED INGREDIENT INSIGHTS WITH FILTERING OPTIONS
}
