@page "/ingredient-insights"

<PageTitle>Ingredient Insights</PageTitle>

<div class="ingredientinsights-container">
    <h3 class="text-center">Ingredient Insights</h3>

</div>

@code {
    // TODO - DISPLAY ALL POSTED INGREDIENT INSIGHTS WITH FILTERING OPTIONS
}
