.recipedetails-container {
    color: black;
}

.recipe-details {
    padding: 25px;
}

.recipe-title {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.edit-button {
    margin: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cookbooks-icon {
    font-size: 2.5rem !important;
    margin-bottom: -6px;
}

.recipe-author {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

    .recipe-author a {
        color: rgb(111, 78, 55);
    }

.recipe-thumbnail {
    width: 400px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: auto !important;
    display: block !important;
}

.recipe-description {
    font-size: 1.2rem;
    text-align: center;
}

.recipe-story {
    font-size: 1.5rem;
    line-height: 1.6;
}

.recipe-details-body {
    text-align: center;
}

.recipe-author-card {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

    .recipe-author-card a {
        color: navajowhite;
    }

        .recipe-author-card a:hover {
            color: lightgray;
        }

.recipe-preptime, 
.recipe-cooktime, 
.recipe-category, 
.recipe-ethnicity {
    margin: 0 20px 20px 0;
    font-size: 1rem;
    font-weight: 500;
}

.recipe-story-title, .recipe-ingredients-title, .recipe-instructions-title {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.recipe-ingredients, .recipe-instructions {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.ingredients-list {
    list-style-type: none;
}


.divider-line {
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    width: 100%;
}

.card {
    border: 5px solid rgb(28, 10, 0);
    border-radius: 8px;
}

.card-header {
    background-color: rgb(111, 78, 55) !important;
    color: white !important;
}

.card-body {
    background-color: #f2f2f2;
}

.card-title {
    font-size: 2rem;
}

.ingredients-col {
    padding: 0;
    text-align: initial;
    margin-left: 25px;
    margin-right: -25px;
}

.serving-null {
    margin-left: 0 !important;
}

.comment-item {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.comment-header {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically */
}

.comment-actions {
    display: flex;
    gap: 10px; /* Adds space between the icons */
    font-size: 1.2rem; /* Adjusts the icon size if needed */
    color: #333; /* Adjusts the icon color if needed */
}

.comment-body {
    margin-top: 10px;
}

.reply-item {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.reply-header {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically */
}

.reply-body {
    margin-top: 10px;
}

.username-comment {
    color: rgb(111, 78, 55);
    margin-right: 5px;
}

.username-comment:hover {
    opacity: 75%;
}

.fa-reply {
    color: cornflowerblue;
    cursor: pointer;
    margin-right: 5px;
}

.fa-trash-can {
    color: red;
    cursor: pointer;
}

.fa-pen {
    color: gray;
    cursor: pointer;
}

.bi-twitter-x, .bi-facebook, .bi-instagram, .bi-envelope-fill, .bi-link {
    color: white;
}

.share-x {
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #000000;
    display: inline-block;
    cursor: pointer;
}

.share-label {
    padding: 0 10px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}

.share-facebook {
    padding: 5px 20px;
    border: 2px solid #316FF6;
    border-radius: 8px;
    background-color: #316FF6;
    display: inline-block;
    cursor: pointer;
}

/*.share-instagram {
    padding: 5px 20px;
    border: 2px solid #8134AF;
    border-radius: 8px;
    background-color: #8134AF;
    display: inline-block;
    cursor: pointer;
}*/

.share-email {
    padding: 5px 20px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: gray;
    display: inline-block;
    cursor: pointer;
}

.share-link {
    padding: 5px 20px;
    border: 2px solid forestgreen;
    border-radius: 8px;
    background-color: forestgreen;
    display: inline-block;
    cursor: pointer;
}