.user-profile-container {
    padding: 25px;
    color: black;
}

.profile-picture {
    z-index: 999;
}

.edit-icon {
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-pen {
    color: white;
}

.edit-icon-noprof {
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: white;
    opacity: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-pen-noprof {
    color: black;
}

.noprof-container {
    margin-top: -25px;
    margin-bottom: -25px;
}

.displayname {
    margin-bottom: 0;
}

.edit-profile-btn {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.edit-profile-btn p {
    margin: 0;
}

.join-date {
    margin-top: -15px;
}

.nav-header {
    background-color: rgb(54, 21, 0);
}
    .nav-header:hover {
        background-color: rgb(111, 78, 55);
    }
    .nav-header.active {
        background-color: rgb(111, 78, 55);
    }

.nav-link {
    color: white;
    cursor: pointer;
}

.divider-line {
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    width: 100%;
}

.useritems-container {
    padding: 20px;
}