.cookbook-recipes-container[b-fbahpg667f] {
    color: black;
    padding: 25px;
}

.cookbook-recipes-title[b-fbahpg667f] {
    padding-bottom: 20px;
}

.cookbook-name[b-fbahpg667f] {
    font-size: 3rem;
    margin: 0;
    text-align: center;
}