.divider-row[b-bv7obqaypn] {
    background-color: rgb(107, 36, 12);
    width: 100%;
    height: 75px;
}

.maincontent-container[b-bv7obqaypn] {
    padding-top: 10px;
}

.cook-time[b-bv7obqaypn] {
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    border-radius: 3px;
}

.bookmark-recipe[b-bv7obqaypn] {
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    padding: 3px;
}

.card[b-bv7obqaypn] {
    width: 350px;
    background-color: rgb(228, 143, 69);
}

.card-img-top[b-bv7obqaypn] {
    height: 200px;
    object-fit: cover;
}

.card-title[b-bv7obqaypn], .date-created[b-bv7obqaypn] {
    color: white;
}

.date-created[b-bv7obqaypn] {
    float: right;
}

.username-nav[b-bv7obqaypn] {
    display: block;
    margin: -20px 0 -5px 15px;
    color: white;
}

.users-recipe[b-bv7obqaypn] {
    color: rgb(107, 36, 12);
}

.image-frame[b-bv7obqaypn] {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ispublic-container[b-bv7obqaypn] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ispublic-msg[b-bv7obqaypn] {
    margin-top: 20px;
    margin-right: 10px;
}

.Private[b-bv7obqaypn] {
    color: red !important;
}

.Public[b-bv7obqaypn] {
    font-weight: 800;
    color: forestgreen !important;
}

.cookbook-card-container[b-bv7obqaypn] {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between cards */
    padding: 0;
}

.cookbook-card[b-bv7obqaypn] {
    flex: 1 1 calc(50% - 10px); /* Two cards per row with gap consideration */
    background-color: rgb(228, 143, 69);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
}

    .cookbook-card:hover[b-bv7obqaypn] {
        transform: scale(1.05); /* Slightly enlarge on hover */
    }

    .cookbook-card.selected[b-bv7obqaypn] {
        border: 2px solid #007bff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

.cookbook-img[b-bv7obqaypn] {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 150%; /* Aspect ratio for 600x900 */
    overflow: hidden;
}

.cookbookcard-img-top[b-bv7obqaypn] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cookbookcard-body[b-bv7obqaypn] {
    padding: 5px;
}

.cookbookcard-title[b-bv7obqaypn] {
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    overflow: hidden; /* Hide the overflowed text */
    text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
}

.cookbookdate-created[b-bv7obqaypn] {
    font-size: 0.875rem;
    color: white;
    margin-bottom: 5px;
}

.cookbook-ispublic[b-bv7obqaypn] {
    font-size: 0.875rem;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .cookbook-card[b-bv7obqaypn] {
        flex: 1 1 100%; /* Full width for smaller screens */
    }
}

.hideModal[b-bv7obqaypn] {
    display: none;
}

.showModal[b-bv7obqaypn] {
    display: block;
}