.recipedetails-container[b-j9rgftzswo] {
    color: black;
}

.recipe-details[b-j9rgftzswo] {
    padding: 25px;
}

.recipe-title[b-j9rgftzswo] {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.edit-button[b-j9rgftzswo] {
    margin: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cookbooks-icon[b-j9rgftzswo] {
    font-size: 2.5rem !important;
    margin-bottom: -6px;
}

.recipe-author[b-j9rgftzswo] {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

    .recipe-author a[b-j9rgftzswo] {
        color: rgb(111, 78, 55);
    }

.recipe-thumbnail[b-j9rgftzswo] {
    width: 400px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: auto !important;
    display: block !important;
}

.recipe-description[b-j9rgftzswo] {
    font-size: 1.2rem;
    text-align: center;
}

.recipe-story[b-j9rgftzswo] {
    font-size: 1.5rem;
    line-height: 1.6;
}

.recipe-details-body[b-j9rgftzswo] {
    text-align: center;
}

.recipe-preptime[b-j9rgftzswo], 
.recipe-cooktime[b-j9rgftzswo], 
.recipe-category[b-j9rgftzswo], 
.recipe-ethnicity[b-j9rgftzswo] {
    margin: 0 10px 20px 0;
    font-size: 1rem;
    font-weight: 500;
}

.recipe-story-title[b-j9rgftzswo], .recipe-ingredients-title[b-j9rgftzswo], .recipe-instructions-title[b-j9rgftzswo] {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.recipe-ingredients[b-j9rgftzswo], .recipe-instructions[b-j9rgftzswo] {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.ingredients-list[b-j9rgftzswo] {
    list-style-type: none;
}


.divider-line[b-j9rgftzswo] {
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    width: 100%;
}

.card[b-j9rgftzswo] {
    background-color: #f2f2f2;
}

.card-title[b-j9rgftzswo] {
    font-size: 2rem;
    margin-left: 20px;
}

.ingredients-col[b-j9rgftzswo] {
    padding: 0;
    text-align: initial;
    margin-left: 25px;
    margin-right: -25px;
}

.serving-null[b-j9rgftzswo] {
    margin-left: 0 !important;
}

.comment-item[b-j9rgftzswo] {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.comment-header[b-j9rgftzswo] {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically */
}

.comment-actions[b-j9rgftzswo] {
    display: flex;
    gap: 10px; /* Adds space between the icons */
    font-size: 1.2rem; /* Adjusts the icon size if needed */
    color: #333; /* Adjusts the icon color if needed */
}

.comment-body[b-j9rgftzswo] {
    margin-top: 10px;
}

.reply-item[b-j9rgftzswo] {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.reply-header[b-j9rgftzswo] {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically */
}

.reply-body[b-j9rgftzswo] {
    margin-top: 10px;
}

.username-comment[b-j9rgftzswo] {
    color: rgb(111, 78, 55);
    margin-right: 5px;
}

.username-comment:hover[b-j9rgftzswo] {
    opacity: 75%;
}

.fa-reply[b-j9rgftzswo] {
    color: cornflowerblue;
    cursor: pointer;
    margin-right: 5px;
}

.fa-trash-can[b-j9rgftzswo] {
    color: red;
    cursor: pointer;
}

.fa-pen[b-j9rgftzswo] {
    color: gray;
    cursor: pointer;
}