.usercookbooks-container[b-zdxd9okrfd] {
    color: black;
    padding: 25px;
}

.yourcookbooks-title[b-zdxd9okrfd] {
    font-size: 3rem;
    text-align: center;
}

.add-cookbook[b-zdxd9okrfd] {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}