.user-profile-container[b-be9y8cypfz] {
    padding: 25px;
    color: black;
}

.profile-picture[b-be9y8cypfz] {
    z-index: 999;
}

.edit-icon[b-be9y8cypfz] {
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-pen[b-be9y8cypfz] {
    color: white;
}

.edit-icon-noprof[b-be9y8cypfz] {
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: white;
    opacity: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-pen-noprof[b-be9y8cypfz] {
    color: black;
}

.noprof-container[b-be9y8cypfz] {
    margin-top: -25px;
    margin-bottom: -25px;
}

.displayname[b-be9y8cypfz] {
    margin-bottom: 0;
}

.edit-profile-btn[b-be9y8cypfz] {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.edit-profile-btn p[b-be9y8cypfz] {
    margin: 0;
}

.join-date[b-be9y8cypfz] {
    margin-top: -15px;
}

.nav-header[b-be9y8cypfz] {
    background-color: rgb(54, 21, 0);
}
    .nav-header:hover[b-be9y8cypfz] {
        background-color: rgb(111, 78, 55);
    }
    .nav-header.active[b-be9y8cypfz] {
        background-color: rgb(111, 78, 55);
    }

.nav-link[b-be9y8cypfz] {
    color: white;
    cursor: pointer;
}

.divider-line[b-be9y8cypfz] {
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    width: 100%;
}

.useritems-container[b-be9y8cypfz] {
    padding: 20px;
}